<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MaterialDashSkin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MaterialDashSkin.Properties.Settings>
            <setting name="comport0" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudrate0" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="databit0" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="parity0" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="stopbit0" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="comport1" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudrate1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="databit1" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="parity1" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="stopbit1" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="comport2" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudrate2" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="databit2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="parity2" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="stopbit2" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="comport3" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="baudrate3" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="databit3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="parity3" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="stopbit3" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="databaseUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="databasePort" serializeAs="String">
                <value />
            </setting>
            <setting name="databaseLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="databasePassword" serializeAs="String">
                <value />
            </setting>
        </MaterialDashSkin.Properties.Settings>
    </userSettings>
</configuration>